/*Dashboard Headers*/

.dshbrd-header {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 80%;
}

.group-1{
    margin-bottom: 40px;
    
}

.navbar-submenu {
    text-align: center;
    margin-left: 40px;
    width:80%;
}

.navbar-submenu li {
      float: none;
      display: inline-block;
    }


/*Tab Styles*/
#building .button  {
     text-align: center;
}  

#building {
    margin-top: 5px;
    margin-bottom: 30px;
}
    
#tenant {
    display: none;
}    


#expenses {
    display: none;
} 

#loan {
    display: none;
} 

#dashboard {
    display: none;
}

#resetbtn {
    margin-right: 90px;
    margin-top: 60px;
}

#resetbtn2 {
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#resetbtn3 {
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#resetbtn4 {
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#KeyMarketRates {
    margin-top: 40px;
}